<?xml version="1.0"?>

<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find burf_robot)/main.rviz" required="true"/>
<param name="robot_description" textfile="robot.urdf" />
  
 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>
</launch>
