<robot name="robot_model">

  <link name="base_frame">
    <visual>
      <geometry>
        <box size="1.10 0.80 0.15"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.085"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.10 0.90 0.15"/>
      </geometry>
    </collision>
  </link>

  <link name="lwheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.105"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

 <joint name="base_to_lwheel" type="fixed">
    <parent link="base_frame"/>
    <child link="lwheel"/>
    <origin xyz="0 0.42 0.06" rpy="1.5708 0 0"/>
  </joint>

  <link name="rwheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.105"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>

 <joint name="base_to_rwheel" type="fixed">
    <parent link="base_frame"/>
    <child link="rwheel"/>
    <origin xyz="0 -0.42 0.06" rpy="-1.5708 0 0"/>
  </joint>

  <link name="laser">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
     <cylinder length="0.03" radius="0.08"/>
      </geometry>
    </visual>
  </link>

<joint name="laser_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.5 0.0 0.80"/>
    <parent link="base_frame"/>
    <child link="laser"/>
  </joint>

  <link name="ultrasonic">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
     <box size="0.02 0.02 0.02"/>
      </geometry>
        <material name="red">
        <color rgba="1 0 0 0"/>
      </material>
    </visual>
  </link>

<joint name="ultrasonic_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.09 0.0 0.13"/>
    <parent link="base_frame"/>
    <child link="ultrasonic"/>
  </joint>

</robot>
